<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket-IO Demo</title>
    <link href="{{ url_for('static', filename='vuetify.min.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vuetify.min.js') }}"></script>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-row>
                        <v-col v-for="room in rooms" class="d-flex justify-center">
                            <v-btn elevation="0" :color="buttonColor(room)" @click="onRoomButtonClick(room)">
                                [[ room ]]
                            </v-btn>
                        </v-col>
                    </v-row>
                    <div style="height: 600px; overflow-y: auto">
                        <v-data-table
                            :headers="tableHeaders"
                            :items="messages"
                            item-key="time"
                            elevation="0"
                            disable-sort
                            disable-pagination
                            hide-default-footer
                            fixed-header
                            dense
                            :items-per-page="-1"
                        >
                            <template #item="{ item }">
                              <tr :style="getItemStyle(item)">
                                <td style="white-space: nowrap; vertical-align: top">[[ item.time ]]</td>
                                <td style="white-space: nowrap; vertical-align: top">[[ item.source ]]</td>
                                <td>[[ item.message ]]</td>
                              </tr>
                            </template>
                        </v-data-table>
                    </div>
                </v-container>
            </v-main>
        </v-app>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>