<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket-IO Demo</title>
    <link href="{{ url_for('static', filename='vuetify.min.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vuetify.min.js') }}"></script>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <v-row>
                        <v-col v-for="room in rooms" class="d-flex justify-center">
                            <v-btn elevation="0" :color="buttonColor(room)" @click="onRoomButtonClick(room)">
                                [[ room ]]
                            </v-btn>
                        </v-col>
                    </v-row>
                    <p v-for="msg in messages">[[ msg ]]</p>
                </v-container>
            </v-main>
        </v-app>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>